
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Document</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css"/>
  <link rel="stylesheet" href="bower_components/basscss-sass/scss/basscss.scss"/>
  <link rel="stylesheet" href="css/bundle.css"/>
  <!--if lt IE 9
  script(src='bower_components/html5shiv/dist/html5shiv.js')
  script(src='bower_components/respond/dest/respond.src.js')
  -->
</head>